<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PIZZA PARTY</title>
    <link rel="stylesheet" href="/pizza-app/public/assets/css/pizza_style.css" type="text/css"/>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
    {{{ body }}}
</body>
</html>