body{
  width: 960px;
  margin: 0 auto;
  background: yellow;
}

h1,h2 {
  margin: 0 auto;
  width: fit-content;
  color: black;
  text-align: center;
  padding: 10px;
}

#maintitle{
  margin-top: 10px;
  margin-bottom: 20px;
}
#pizza_img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  display: block;
}

.listtitles{
  margin-top: 15px;
  margin-bottom: 15px;
  color: red;
  border: black solid 2px;
  border-radius: 30px;
}

ul{
  margin: 10px auto;
  display: table;
  width: 100%;
  text-align: center;
  list-style-type: none;
}
li{
  padding: 10px;
}

#form-title{
  margin-top: 20px;
  margin-bottom: 10px;
}
.create-form{
  text-align: center;
  margin: 0 auto;
  font-size: 20px;
}

#submitBtn{
  margin-top: 10px;
  margin-bottom: 20px;
}

